li.details > input {
  margin-left: 0;
}
[data-tag="work"] > *:first-child::after {
  content: "film";
}

[data-tag="work"]:hover > *:first-child::after {
  background: midnightblue;
}
[data-tag="action"] > *:first-child::after {
  content: "action";
}
[data-tag] > *:first-child::after {
  font-size: 0.6em;
  line-height: 1rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 0.75em;
  border-radius: 15px;
  height: 1rem;
  margin-left: 0.5em;
  margin-top: -1px;
  vertical-align: middle;
  box-shadow: inset 0 0 0 1px;
  opacity: 0.5;
  transition: opacity 0.2s linear;
}
[data-tag]:hover > *:first-child::after {
  color: #fff;
  opacity: 1;
  box-shadow: none;
}
[data-tag="action"]:hover > *:first-child::after {
  background: rgb(0, 221, 255);
}
.achivements {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.tags.small .nowrap:not(:last-child)::after {
  content: "●";
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25em 0 0.25em;
}
.avatar-img {
  max-width: 200px;
}
.details.publications > input::after {
  content: "📘";
  border-top: none;
  border-bottom: none;
  border-left: none;
  position: relative;
  width: auto;
  height: auto;
}
.details.publications > input:checked {
  transform: rotate(0deg);
}
.details.publications > input:checked::after {
  content: "📖";
}
.achivements ul > li {
  list-style-type: "💪";
}
.phone svg {
  margin-right: 0.2em;
}
.three.wide.center.aligned.column {
  position: relative;
}
@media screen and (min-width: 768px) {
  .avatar-img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
